# Node & Vite
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Python & Virtual Environments
backend/venv/
backend/__pycache__/
*.pyc
.pytest_cache/

# Databases & Temp files
*.db
*.sqlite3
.DS_Store
*.log
